body{

background:#020617;
color:white;
font-family:Arial;
text-align:center;

}


.login-box{

width:350px;
margin:100px auto;
background:#111827;
padding:30px;
border-radius:15px;

box-shadow:0 0 20px #38bdf8;

}


input{

width:90%;
padding:12px;
margin:10px;
border-radius:8px;

}


button{

padding:12px 30px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;

}


table{

margin:40px auto;
width:90%;
border-collapse:collapse;

}


th,td{

border:1px solid #38bdf8;
padding:15px;

}