*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    background:linear-gradient(135deg,#020617,#0f172a,#1e1b4b);
    color:white;
    min-height:100vh;

}


/* Header */

header{

    background:#020617;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 0 20px #2563eb;

}


header h1{

    color:#38bdf8;
    font-size:30px;

}


header a{

    color:white;
    text-decoration:none;
    font-size:18px;

}


header a:hover{

    color:#38bdf8;

}


/* Company Section */

.company-container{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:25px;

    padding:50px;

}


/* Company Cards */

.company-card{

    background:#111827;

    padding:30px;

    border-radius:15px;

    text-align:center;

    box-shadow:
    0 0 15px rgba(56,189,248,0.4);

    transition:0.3s;

}


.company-card:hover{

    transform:translateY(-8px);

    box-shadow:
    0 0 25px #38bdf8;

}


.company-card h2{

    color:#38bdf8;

    margin-bottom:15px;

    font-size:26px;

}


.company-card p{

    color:#e5e7eb;

    margin:10px;

    font-size:16px;

}