*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a,#1e3a8a);
}

.container{
    width:900px;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    box-shadow:
        0 0 25px rgba(59,130,246,.35),
        0 0 50px rgba(37,99,235,.25);
}

.left{
    width:45%;
    background:linear-gradient(180deg,#1d4ed8,#1e40af);
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.left h1{
    font-size:42px;
    margin-bottom:20px;
}

.left p{
    font-size:22px;
    margin-bottom:10px;
}

.left span{
    text-align:center;
    color:#dbeafe;
}

.right{
    width:55%;
    background:rgba(15,23,42,.95);
    padding:45px;
}

.right h2{
    color:#60a5fa;
    text-align:center;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:12px 0;
    border:none;
    outline:none;
    border-radius:8px;
    background:#1e293b;
    color:white;
    font-size:15px;
}

input::placeholder{
    color:#94a3b8;
}

button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#3b82f6;
    box-shadow:0 0 20px #3b82f6;
}

#message{
    text-align:center;
    margin-top:15px;
    font-weight:bold;
}

.register{
    text-align:center;
    margin-top:20px;
    color:#cbd5e1;
}

.register a{
    color:#60a5fa;
    text-decoration:none;
}

.register a:hover{
    text-decoration:underline;
}

@media(max-width:900px){

.container{
    width:95%;
    flex-direction:column;
}

.left,.right{
    width:100%;
}

.left{
    padding:30px;
}

}