body{

background:linear-gradient(135deg,#020617,#1e1b4b);

font-family:Arial;

color:white;

}


.profile-box{

width:500px;

margin:50px auto;

background:#111827;

padding:30px;

border-radius:15px;

box-shadow:0 0 25px #38bdf8;

}


h1,h2{

color:#38bdf8;

text-align:center;

}


p,h3{

margin:12px;

}


.job{

background:#020617;

padding:15px;

margin-top:15px;

border-radius:10px;

}