*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background-image: url("jpw.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255,255,255,0.15);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    max-width:35%;
}

form{
    background: rgba(0, 0, 52, 0.644);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, 0.25);
box-shadow:
0 0 15px rgba(99, 102, 241, 0.4),
0 0 30px rgba(139, 92, 246, 0.35),
0 0 60px rgba(99, 102, 241, 0.25),
0 20px 40px rgba(0, 0, 0, 0.45);

    transition: all .4s ease;
    padding:30px;
    border-radius:10px;
}

h2{
    text-align:center;
    margin-bottom:20px;
    color:#00bff4;
}

input,select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    width:100%;
    padding:12px;
    background:#012b58;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0057b3af;
}

label{
    display:block;
    margin:10px 0;
}

#message{
    text-align:center;
    margin-top:15px;
    font-weight:bold;
}

.highlight {
    color:#3B82F6;
}

.white{
    color:silver;
}